# Scraping with Pandas

In [1]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [2]:
url = 'https://animalcrossing.fandom.com/wiki/Bugs_(New_Horizons)'

In [5]:
tables = pd.read_html(url)
tables[3]

,Name,Image,Price,Location,Time,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Common butterfly,NaN,160,Flying,4 AM - 7 PM,✓,✓,✓,✓,✓,✓,-,-,✓,✓,✓,✓
1,Yellow butterfly,NaN,160,Flying,4 AM - 7 PM,-,-,✓,✓,✓,✓,-,-,✓,✓,-,-
2,Tiger butterfly,NaN,240,Flying,4 AM - 7 PM,-,-,✓,✓,✓,✓,✓,✓,✓,-,-,-
3,Peacock butterfly,NaN,2500,Flying by Hybrid Flowers,4 AM - 7 PM,-,-,✓,✓,✓,✓,-,-,-,-,-,-
4,Common bluebottle,NaN,300,Flying,4 AM - 7 PM,-,-,-,✓,✓,✓,✓,✓,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Pill bug,NaN,250,Hitting Rocks,11 PM - 4 PM,✓,✓,✓,✓,✓,✓,-,-,✓,✓,✓,✓
76,Centipede,NaN,300,Hitting Rocks,4 PM - 11 PM,✓,✓,✓,✓,✓,✓,-,-,✓,✓,✓,✓
77,Spider,NaN,600,Shaking Trees,7 PM - 8 AM,✓,✓,✓,✓,✓,✓,✓,✓,✓,✓,✓,✓
78,Tarantula,NaN,8000,On the Ground,7 PM - 4 AM,✓,✓,✓,✓,-,-,-,-,-,-,✓,✓
79,Scorpion,NaN,8000,On the Ground,7 PM - 4 AM,-,-,-,-,✓,✓,✓,✓,✓,✓,-,-

What we get in return is a list of dataframes for any tabular data that Pandas found.

In [6]:
type(tables)

list

We can slice off any of those dataframes that we want using normal indexing.

In [7]:
df = tables[3]
df.columns = ['Name','Image','Price','Location','Time','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
df.head()

,Name,Image,Price,Location,Time,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Common butterfly,NaN,160,Flying,4 AM - 7 PM,✓,✓,✓,✓,✓,✓,-,-,✓,✓,✓,✓
1,Yellow butterfly,NaN,160,Flying,4 AM - 7 PM,-,-,✓,✓,✓,✓,-,-,✓,✓,-,-
2,Tiger butterfly,NaN,240,Flying,4 AM - 7 PM,-,-,✓,✓,✓,✓,✓,✓,✓,-,-,-
3,Peacock butterfly,NaN,2500,Flying by Hybrid Flowers,4 AM - 7 PM,-,-,✓,✓,✓,✓,-,-,-,-,-,-
4,Common bluebottle,NaN,300,Flying,4 AM - 7 PM,-,-,-,✓,✓,✓,✓,✓,-,-,-,-

Set the index to the `State` column

In [8]:
df.set_index('Name', inplace=True)
df.head()

,Image,Price,Location,Time,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Name,,,,,,,,,,,,,,,,
Common butterfly,NaN,160,Flying,4 AM - 7 PM,✓,✓,✓,✓,✓,✓,-,-,✓,✓,✓,✓
Yellow butterfly,NaN,160,Flying,4 AM - 7 PM,-,-,✓,✓,✓,✓,-,-,✓,✓,-,-
Tiger butterfly,NaN,240,Flying,4 AM - 7 PM,-,-,✓,✓,✓,✓,✓,✓,✓,-,-,-
Peacock butterfly,NaN,2500,Flying by Hybrid Flowers,4 AM - 7 PM,-,-,✓,✓,✓,✓,-,-,-,-,-,-
Common bluebottle,NaN,300,Flying,4 AM - 7 PM,-,-,-,✓,✓,✓,✓,✓,-,-,-,-

In [9]:
df.loc['Peacock butterfly']

Image                            NaN
Price                           2500
Location    Flying by Hybrid Flowers
Time                     4 AM - 7 PM
Jan                                -
Feb                                -
Mar                                ✓
Apr                                ✓
May                                ✓
Jun                                ✓
Jul                                -
Aug                                -
Sep                                -
Oct                                -
Nov                                -
Dec                                -
Name: Peacock butterfly, dtype: object

## DataFrames as HTML

Pandas also had a `to_html` method that we can use to generate HTML tables from DataFrames.

In [ ]:
html_table = df.to_html()
html_table

You may have to strip unwanted newlines to clean up the table.

In [ ]:
html_table.replace('\n', '')

You can also save the table directly to a file.

In [ ]:
df.to_html('fish_data.html')

In [ ]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html