In [1]:
import pandas as pd
from config import username
from config import password

In [2]:
username

'postgres'

# Scraping with Pandas

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [2]:
url = 'https://animalcrossing.fandom.com/wiki/Bugs_(New_Horizons)'

In [3]:
# Reading url table into a df
tables = pd.read_html(url)
tables[3]

,Name,Image,Price,Location,Time,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Common butterfly,NaN,160,Flying,4 AM - 7 PM,✓,✓,✓,✓,✓,✓,-,-,✓,✓,✓,✓
1,Yellow butterfly,NaN,160,Flying,4 AM - 7 PM,-,-,✓,✓,✓,✓,-,-,✓,✓,-,-
2,Tiger butterfly,NaN,240,Flying,4 AM - 7 PM,-,-,✓,✓,✓,✓,✓,✓,✓,-,-,-
3,Peacock butterfly,NaN,2500,Flying by Hybrid Flowers,4 AM - 7 PM,-,-,✓,✓,✓,✓,-,-,-,-,-,-
4,Common bluebottle,NaN,300,Flying,4 AM - 7 PM,-,-,-,✓,✓,✓,✓,✓,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Pill bug,NaN,250,Hitting Rocks,11 PM - 4 PM,✓,✓,✓,✓,✓,✓,-,-,✓,✓,✓,✓
76,Centipede,NaN,300,Hitting Rocks,4 PM - 11 PM,✓,✓,✓,✓,✓,✓,-,-,✓,✓,✓,✓
77,Spider,NaN,600,Shaking Trees,7 PM - 8 AM,✓,✓,✓,✓,✓,✓,✓,✓,✓,✓,✓,✓
78,Tarantula,NaN,8000,On the Ground,7 PM - 4 AM,✓,✓,✓,✓,-,-,-,-,-,-,✓,✓
79,Scorpion,NaN,8000,On the Ground,7 PM - 4 AM,-,-,-,-,✓,✓,✓,✓,✓,✓,-,-

## Data Transformation

In [4]:
# storing the third table from the url in a df
df = tables[3]

# deleting the image column
del df['Image']

# displaying the df
df

,Name,Price,Location,Time,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Common butterfly,160,Flying,4 AM - 7 PM,✓,✓,✓,✓,✓,✓,-,-,✓,✓,✓,✓
1,Yellow butterfly,160,Flying,4 AM - 7 PM,-,-,✓,✓,✓,✓,-,-,✓,✓,-,-
2,Tiger butterfly,240,Flying,4 AM - 7 PM,-,-,✓,✓,✓,✓,✓,✓,✓,-,-,-
3,Peacock butterfly,2500,Flying by Hybrid Flowers,4 AM - 7 PM,-,-,✓,✓,✓,✓,-,-,-,-,-,-
4,Common bluebottle,300,Flying,4 AM - 7 PM,-,-,-,✓,✓,✓,✓,✓,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Pill bug,250,Hitting Rocks,11 PM - 4 PM,✓,✓,✓,✓,✓,✓,-,-,✓,✓,✓,✓
76,Centipede,300,Hitting Rocks,4 PM - 11 PM,✓,✓,✓,✓,✓,✓,-,-,✓,✓,✓,✓
77,Spider,600,Shaking Trees,7 PM - 8 AM,✓,✓,✓,✓,✓,✓,✓,✓,✓,✓,✓,✓
78,Tarantula,8000,On the Ground,7 PM - 4 AM,✓,✓,✓,✓,-,-,-,-,-,-,✓,✓
79,Scorpion,8000,On the Ground,7 PM - 4 AM,-,-,-,-,✓,✓,✓,✓,✓,✓,-,-

In [5]:
# given a string, seperate into two columns (start and end),

In [6]:
# Replacing check marks with True and minus signs with False
df["Jan"] = df["Jan"].replace("✓", True).replace("-", False)
df["Feb"] = df["Feb"].replace("✓", True).replace("-", False)
df["Mar"] = df["Mar"].replace("✓", True).replace("-", False)
df["Apr"] = df["Apr"].replace("✓", True).replace("-", False)
df["May"] = df["May"].replace("✓", True).replace("-", False)
df["Jun"] = df["Jun"].replace("✓", True).replace("-", False)
df["Jul"] = df["Jul"].replace("✓", True).replace("-", False)
df["Aug"] = df["Aug"].replace("✓", True).replace("-", False)
df["Sep"] = df["Sep"].replace("✓", True).replace("-", False)
df["Oct"] = df["Oct"].replace("✓", True).replace("-", False)
df["Nov"] = df["Nov"].replace("✓", True).replace("-", False)
df["Dec"] = df["Dec"].replace("✓", True).replace("-", False)

# Capitalizing the name column
df["Name"] = df["Name"].str.title()

# Displaying df
df

,Name,Price,Location,Time,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Common Butterfly,160,Flying,4 AM - 7 PM,True,True,True,True,True,True,False,False,True,True,True,True
1,Yellow Butterfly,160,Flying,4 AM - 7 PM,False,False,True,True,True,True,False,False,True,True,False,False
2,Tiger Butterfly,240,Flying,4 AM - 7 PM,False,False,True,True,True,True,True,True,True,False,False,False
3,Peacock Butterfly,2500,Flying by Hybrid Flowers,4 AM - 7 PM,False,False,True,True,True,True,False,False,False,False,False,False
4,Common Bluebottle,300,Flying,4 AM - 7 PM,False,False,False,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Pill Bug,250,Hitting Rocks,11 PM - 4 PM,True,True,True,True,True,True,False,False,True,True,True,True
76,Centipede,300,Hitting Rocks,4 PM - 11 PM,True,True,True,True,True,True,False,False,True,True,True,True
77,Spider,600,Shaking Trees,7 PM - 8 AM,True,True,True,True,True,True,True,True,True,True,True,True
78,Tarantula,8000,On the Ground,7 PM - 4 AM,True,True,True,True,False,False,False,False,False,False,True,True
79,Scorpion,8000,On the Ground,7 PM - 4 AM,False,False,False,False,True,True,True,True,True,True,False,False

## Bug ID DF

In [7]:
# Reading id csv 
filepath = "ids.csv"

# Reading csv into a df
id_df = pd.read_csv(filepath)

# Filtering id df to only contain Bugs 
bug_id = id_df.loc[id_df['Type']=='Bug']

## Merge ID and Bug DF

In [8]:
# Merging bug id's and the original df
bug_id_merge = df.merge(bug_id[["ID","Name"]],on='Name',how='left')

# Setting index to the id
bug_id_merge = bug_id_merge.set_index("ID")

# Displaying the df
bug_id_merge

,Name,Price,Location,Time,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
ID,,,,,,,,,,,,,,,,
B01,Common Butterfly,160,Flying,4 AM - 7 PM,True,True,True,True,True,True,False,False,True,True,True,True
B02,Yellow Butterfly,160,Flying,4 AM - 7 PM,False,False,True,True,True,True,False,False,True,True,False,False
B03,Tiger Butterfly,240,Flying,4 AM - 7 PM,False,False,True,True,True,True,True,True,True,False,False,False
B04,Peacock Butterfly,2500,Flying by Hybrid Flowers,4 AM - 7 PM,False,False,True,True,True,True,False,False,False,False,False,False
B05,Common Bluebottle,300,Flying,4 AM - 7 PM,False,False,False,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
B76,Pill Bug,250,Hitting Rocks,11 PM - 4 PM,True,True,True,True,True,True,False,False,True,True,True,True
B77,Centipede,300,Hitting Rocks,4 PM - 11 PM,True,True,True,True,True,True,False,False,True,True,True,True
B78,Spider,600,Shaking Trees,7 PM - 8 AM,True,True,True,True,True,True,True,True,True,True,True,True
B79,Tarantula,8000,On the Ground,7 PM - 4 AM,True,True,True,True,False,False,False,False,False,False,True,True
B80,Scorpion,8000,On the Ground,7 PM - 4 AM,False,False,False,False,True,True,True,True,True,True,False,False

## Splitting tables

In [12]:
# Creating a df for the fish 
bug_df = bug_id_merge.iloc[:,:3]

# Displaying the fish df
bug_df

                  Name  Price                  Location
ID
B01   Common Butterfly    160                    Flying
B02   Yellow Butterfly    160                    Flying
B03    Tiger Butterfly    240                    Flying
B04  Peacock Butterfly   2500  Flying by Hybrid Flowers
B05  Common Bluebottle    300                    Flying
..                 ...    ...                       ...
B76           Pill Bug    250             Hitting Rocks
B77          Centipede    300             Hitting Rocks
B78             Spider    600             Shaking Trees
B79          Tarantula   8000             On the Ground
B80           Scorpion   8000             On the Ground

[80 rows x 3 columns]

In [10]:
# Creating a df for the months fish are available
bug_months_df = bug_id_merge.iloc[:,4:]

# Displaying fish months df
bug_months_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
ID,,,,,,,,,,,,
B01,True,True,True,True,True,True,False,False,True,True,True,True
B02,False,False,True,True,True,True,False,False,True,True,False,False
B03,False,False,True,True,True,True,True,True,True,False,False,False
B04,False,False,True,True,True,True,False,False,False,False,False,False
B05,False,False,False,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
B76,True,True,True,True,True,True,False,False,True,True,True,True
B77,True,True,True,True,True,True,False,False,True,True,True,True
B78,True,True,True,True,True,True,True,True,True,True,True,True
B79,True,True,True,True,False,False,False,False,False,False,True,True
B80,False,False,False,False,True,True,True,True,True,True,False,False

In [14]:
# Creating a df for the months fish are available
bug_time_df = bug_id_merge.iloc[:,3:4]

# Displaying fish months df
bug_time_df

             Time
ID
B01   4 AM - 7 PM
B02   4 AM - 7 PM
B03   4 AM - 7 PM
B04   4 AM - 7 PM
B05   4 AM - 7 PM
..            ...
B76  11 PM - 4 PM
B77  4 PM - 11 PM
B78   7 PM - 8 AM
B79   7 PM - 4 AM
B80   7 PM - 4 AM

[80 rows x 1 columns]

## Create database connection

In [ ]:
# Creaate connection
connection_string = f"{username}:{password}@localhost:5432/ACNH_Critterpedia"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

In [ ]:
bug_df.to_sql(name='bugs', con=engine, if_exists='append', index=True)
bug_months_df.to_sql(name='bugs_months', con=engine, if_exists='append', index=True)
bug_time_df.to_sql(name='bugs_time', con=engine, if_exists='append', index=True)