### Create Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Create variables to store Postgres credentials

In [2]:
username = "postgres"
password = "postgres"

### Extract CSV into DataFrame

In [3]:
villagers_file = "villagers.csv"
villagers_df = pd.read_csv(villagers_file)
villagers_df.head()

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...

### Eliminate columns unneeded for database.

In [4]:
villagers_df = villagers_df.rename(columns={"id":"ID"})
villagers_cols = {"ID","name","gender","species"}
villagers_transformed_df = villagers_df[villagers_cols].copy()
villagers_transformed_df.head()

   gender       ID     name    species
0    male  admiral  Admiral       bird
1  female  agent-s  Agent S   squirrel
2  female    agnes    Agnes        pig
3    male       al       Al    gorilla
4    male  alfonso  Alfonso  alligator

### Create database connection

In [6]:
connection_string = f"{username}:{password}@localhost:5432/ACNH_Critterpedia"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
# Confirm tables
engine.table_names()

[]

### Load DataFrame into database

In [ ]:
villagers_transformed_df.to_sql(name='villagers', con=engine, if_exists='append', index=True)